@charset "utf-8";
@import "~bulma/bulma";

/* Core variables */
@import "base/vars";

/* CSS Reset */
@import "base/reset";

/* Fonts */
@import "base/fonts";

/* Mixins, helpers and functions */
@import "base/mixins";

@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');
html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  flex-flow: column;
}

.fab fa-android{
  width: 192px;
  height: 192px;
}

.fab fa-android{
  width: 512px;
  height: 512px;
}

.fas fa-star{
  width: 16px;
  height: 16px;
}

.fas fa-envelope-square{
  width: 32px;
  height: 32px;
}


